<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv = "X-UA-Compatible" content = "ie=edge">

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet">

    <title>airtime data - login</title> 

    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-firestore.js"></script>
    <!-- TODO: Add SDKs for Firebase products that you want to use
         https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-analytics.js"></script> 

    <!--<script src = "https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <script src = 'https:cdn.jsdelivr.net/npm/js-cookie@3.0.0/dist/js.cookie.min.js'></script> --> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.min.js" integrity="sha512-Meww2sXqNHxI1+5Dyh/9KAtvI9RZSA4c1K2k5iL02oiPO/RH3Q30L3M1albtqMg50u4gRTYdV4EXOQqXEI336A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
   
    <link rel = "stylesheet" href = "css/global.css"></link>    
    <link rel = "stylesheet" href = "css/login.css"></link>    
    <!--<link rel = "stylesheet" href = "css/index-styles.css"></link> 
    <link rel = "stylesheet" href = "css/search-page-styles.css"></link> -->

</head>

<body>

<div class = "container">

  <div class="row login-container">
    <h4 class="login-header">Login</h4>
    <p class="login-text">Not yet created an account ? <a class="text-span">Sign up</a>
    </p>  
    <form class="col s12" id = 'loginForm'>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="input-text validate">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="input-text validate">
          <label for="password">Password</label>
        </div>
      </div>
      <button class="btn waves-effect waves-light login-button" type="submit" name="action">Login
        <i class="material-icons">send</i>
      </button>      
      <p class = 'error-message' id = 'errorMessage'><p>
    </form>
  </div> 
  <div class="login-loader">
    <p class = "text">loading...</p>
  </div>

</div>

<!-- Compiled and minified JavaScript --> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<script src = "js/login.js" type = "module"></script>
</body>
</html>