<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv = "X-UA-Compatible" content = "ie=edge">

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet">

    <title>airtime data</title> 

    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-app.js"></script>
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-firestore.js"></script>
    <!-- TODO: Add SDKs for Firebase products that you want to use
         https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-analytics.js"></script>    
   
    <link rel = "stylesheet" href = "css/global.css"></link>    
    <link rel = "stylesheet" href = "css/phone-numbers-styles.css"></link> 
    <link rel = "stylesheet" href = "css/search-modal.css"></link>  
    <link rel = "stylesheet" href = "css/navbar/Navbar.css"></link>
     

</head>

<body>
    <main class = "container main-section">

      <navbar-component></navbar-component>

       <section class = "heading-container">
         <i class = "material-icons heading-icon">sim_card</i>
         <h5 class = "heading-text">Phone numbers :</h5>
       </section>

       <section class = 'number-list'>  

        <ul class="collapsible">
            <li>
              <div class="collapsible-header list-name"><i class="material-icons list-icons">expand_more</i>Ema Re je</div>
              <div class="collapsible-body">
                <p class = "vendor-name">Airtime Center</p>
                <ul class = "simcard-list">                    
                    <li class = "list-item"><span class = "material-icons simcard-list-icon">sim_card</span>Mascom Master - <span class = "simcard-number">71648070</span></li>
                    <li><span class = "material-icons simcard-list-icon">sim_card</span>Orange Master</span> - <span class = "simcard-number">76426998</span></li>
                    <li><span class = "material-icons simcard-list-icon">sim_card</span>BTC Master</span> - <span class = "simcard-number">73918921</span></li>
                </ul>
                <br>
                <ul class = "simcard-list">    
                    <li class = "list-item"><span class = "material-icons simcard-list-icon">sim_card</span>Zimmer 1</span> - <span class = "simcard-number">71648070</span></li>                    
                    <li><span class = "material-icons simcard-list-icon">sim_card</span>Smega</span> - <span class = "simcard-number">73918921</span></li>
                    <li><span class = "material-icons simcard-list-icon">sim_card</span>My Zaka</span> - <span class = "simcard-number">73918921</span></li>
                </ul>
                <br>
                <p class = "vendor-name">Welcome</p>
                <ul class = "simcard-list">                    
                    <li><span class = "material-icons simcard-list-icon">sim_card</span>Mascom Master - <span class = "simcard-number">71648070</span></li>
                    <li><span class = "material-icons simcard-list-icon">sim_card</span>Orange Master - <span class = "simcard-number">76426998</span></li>
                    <li><span class = "material-icons simcard-list-icon">sim_card</span>BTC Master - <span class = "simcard-number">73918921</span></li>
                </ul>
                <br>
                <ul class = "simcard-list">
                    <li><span class = "material-icons simcard-list-icon">sim_card</span>Mascom Small - <span class = "simcard-number">71648070</span></li>
                    <li><span class = "material-icons simcard-list-icon">sim_card</span>Orange Small - <span class = "simcard-number">76426998</span></li>
                    <li><span class = "material-icons simcard-list-icon">sim_card</span>BTC Small - <span class = "simcard-number">73918921</span></li>
                </ul>
                <br>
              </div>
            </li>
            <li>
              <div class="collapsible-header list-name"><i class="material-icons list-icons">expand_more</i>Mandy's Tuckshop</div>
              <div class="collapsible-body">
                <p class = "vendor-name">Airtime Center</p>
                <ul class = "simcard-list">                    
                    <li><span class = "material-icons simcard-list-icon">sim_card</span>Mascom Master - <span class = "simcard-number">71648070</span></li>
                    <li><span class = "material-icons simcard-list-icon">sim_card</span>Orange Master - <span class = "simcard-number">76426998</span></li>
                    <li><span class = "material-icons simcard-list-icon">sim_card</span>BTC Master - <span class = "simcard-number">73918921</span></li>
                </ul>
                <br>
                <ul class = "simcard-list">
                   <li><span class = "material-icons simcard-list-icon">sim_card</span>Mascom Small - <span class = "simcard-number">71648070</span></li>
                   <li><span class = "material-icons simcard-list-icon">sim_card</span>Orange Small - <span class = "simcard-number">76426998</span></li>
                   <li><span class = "material-icons simcard-list-icon">sim_card</span>BTC Small - <span class = "simcard-number">73918921<span class = "simcard-number"></li>
                </ul>
                <br>
                <ul class = "simcard-list">
                  <li><span class = "material-icons simcard-list-icon">sim_card</span>Zimmer 2 - <span class = "simcard-number">76426998</span></li>
                </ul>
              </div>
            </li>
            <li>
              <div class="collapsible-header list-name"><i class="material-icons list-icons">expand_more</i>Town</div>
              <div class="collapsible-body">
                <p class = "vendor-name">Welcome</p>
                <ul class = "simcard-list">                   
                   <li><span class = "material-icons simcard-list-icon">sim_card</span>Orange Money - <span class = "simcard-number">71648070</span></li>                
                </ul>
              </div>
            </li>
        </ul>

       </section> 

       <!--search modal which pops up when called-->    
      <search-component></search-component>
    </main>

<!-- Compiled and minified JavaScript --> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> 
<script src = "/components/Navbar.js" type="module"></script>
<script src = "/components/Search.js" type="module"></script>   
<script src = "js/phone-numbers-jscript.js"></script>    
</body>



</html>