<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv = "X-UA-Compatible" content = "ie=edge">

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet">

    <title>airtime data</title> 

    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-app.js"></script>
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-firestore.js"></script>
    <!-- TODO: Add SDKs for Firebase products that you want to use
         https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-analytics.js"></script>    
   
    <link rel = "stylesheet" href = "css/main-styles.css"></link>    
    <link rel = "stylesheet" href = "css/phone-numbers-styles.css"></link> 
     

</head>

<body>
    <main class = "container main-section">

       <section class = "">
         <div class = "navbar-main"> 
         <a href = "index.html" class = "navbar-icon" id = "navHomeIcon"><i class = "material-icons">home</i></a > 
         <a href = "" data-target = "modal2" class = "navbar-icon modal-trigger"><i class = "material-icons">search</i></a> 
        
         <a href = "" class = "navbar-icon" id = "tableIcon"><i class = "material-icons">table_view</i></a>         
         <a href = "" class = "navbar-icon"><i class = "material-icons">menu</i></a>
                      
        </div>
       </section>

       <section class = "heading-container">
         <i class = "material-icons heading-icon">sim_card</i>
         <h5 class = "heading-text">Phone numbers :</h5>
       </section>

       <section class = 'number-list'>  

        <ul class="collapsible">
            <li>
              <div class="collapsible-header list-name"><i class="material-icons list-icons">expand_more</i>Ema Re je</div>
              <div class="collapsible-body">
                <ul>
                    <p class = "vendor-name">Airtime Center</p>
                    <li>Mascom Master - 71648070</li>
                    <li>Orange Master - 76426998</li>
                    <li>BTC Master - 73918921</li>
                    <li>Zimmer 1 - 71648070</li>
                    <li>Zimmer 2 - 76426998</li>
                    <li>Smega - 73918921</li>
                    <li>My Zaka- 73918921</li>
                </ul>
                <br>
                <ul>
                    <p class = "vendor-name">Welcome</p>
                    <li>Mascom Master - 71648070</li>
                    <li>Orange Master - 76426998</li>
                    <li>BTC Master - 73918921</li>
                </ul>
                <br>
                <ul>
                    <li>Mascom Small - 71648070</li>
                    <li>Orange Small - 76426998</li>
                    <li>BTC Small - 73918921</li>
                </ul>
                <br>
              </div>
            </li>
            <li>
              <div class="collapsible-header list-name"><i class="material-icons list-icons">expand_more</i>Mandy's Tuckshop</div>
              <div class="collapsible-body">
                <p>Mandy's Tuckshop</p>
                <br>
                <ul>
                    <p class = "vendor-name">Airtime Center</p>
                    <li>Mascom Master - 71648070</li>
                    <li>Orange Master - 76426998</li>
                    <li>BTC Master - 73918921</li>
                </ul>
                <br>
                <ul>
                   <li>Mascom Small - 71648070</li>
                   <li>Orange Small - 76426998</li>
                   <li>BTC Small - 73918921</li>
                </ul>
              </div>
            </li>
            <li>
              <div class="collapsible-header list-name"><i class="material-icons list-icons">expand_more</i>Town</div>
              <div class="collapsible-body">
                <p>Town</p>
                <br>
                <ul>
                   <p class = "vendor-name">Welcome</p>
                   <li>Orange Money - 71648070</li>                
                </ul>
              </div>
            </li>
        </ul>

       </section> 
    </main>

<!-- Compiled and minified JavaScript --> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>    
<script src = "js/phone-numbers-jscript.js"></script>    
</body>



</html>