:root {  
  --primary-color: #008387;
  --lighter-shade-black: #202124;
  --twitter-blue: #1DA1F2;
  --mild-white: #a3a7ac;
  --darker-white: #5f6368;
  --sexy-white: #9b9fa3;
  --red: #FF420E;
}

* { 
    margin: 0;
    padding: 0;    
    box-sizing: border-box;
 
}

html {
  line-height: 1.4; 

}

body {
  height: 100%; 
  max-width: 450px;
  width: 100%;
  background: linear-gradient(45deg,#091017 15%, #121212 85%);
  padding: 0 0;
  padding-top: 4px;  
  margin: 0 auto;  

}

.container {
  width: 96%;
  margin: 0 auto;
}

.main-container {
  opacity: 0;
  display: none;
  transition: opacity 0.8s ease-in;
}

/*.navbar-main {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;  
  background-color: transparent;
  border-bottom: 1px solid #8f9499;
  height: 4.0rem;
  width:100%;
}

.navbar-icon {
  margin-top: 0.9rem;
  height: 2.0rem;
  width:2.0rem;
  color: #008387;  
}*/

.row {
  bottom:0;
  margin-left: 0;
  margin-right: 0;
}




