.user-display {
	margin: 0;
	padding: 2px;
	font-size: 0.8rem;
	color: var(--darker-white);
	font-style: italic;
	margin-bottom: 20px;
}

.dayDisplay{
	color: var(--darker-white);
	margin-bottom: 5px;
	padding:0;
	font-family: 'Montserrat', sans-serif;
	text-align:center;
	font-size:1.85rem;
	-webkit-user-select: none;
}

.dateDisplay {
    color: #8f9499;
	margin-bottom: 5px;
	padding:0;
	font-family: 'Montserrat', sans-serif;
	text-align:center;
	font-size:14px;
	margin-bottom: 20px;
	-webkit-user-select: none;
}

.roundDisplayDiv {
	width: 100%;
	display: flex;
	justify-content: space-around;	
	
	/*border: 1px solid green;*/
}
.round-display {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 5px;
    border: 6px solid #008387;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    padding: 5px;
}

.round-text {
	font-size: 0.90rem;
    color: var(--sexy-white);
}

.notDoneIcon{
	color: var(--red);
	display: none;
	font-size: 1.5rem;
}

.doneIcon {
	color: var(--twitter-blue);
	display: none;
	font-size: 1.5rem;
}

.roundStatusText {
	font-size: 0.86rem;
	color: var(--mild-white);
}

.info-container {
	text-align: center;
	margin-top: 20px;
	background-color: var(--lighter-shade-black);
	border-radius: 2px;
	padding: 6px;
	display: flex;
	align-items: center;
}

.info-container span {
	margin: 0 0.5rem;
	color: var(--sexy-white);
}
.index-info-text {
	color: var(--sexy-white);	
	font-size:13px;
	
}

.section-container {	
	margin-top: 1rem;	
	padding-top: 1.5rem;		
	/*margin-bottom: 2.8rem;*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #202124;	/*#fefefe*/
	border:1px solid #202124;
}

/*img {
    border-style: none;
    width:2.0rem;
    height:2.0rem;
    margin-top: 0.15rem;
}*/

.index-page-buttons {	
    display: flex;  
    align-items: center;  
    /*justify-content: center;*/
	width: 96%;		
	margin: 0 auto;
	font-size:0.97rem;
	background-color: #091017;
	text-transform: none;	
	font-family: 'Montserrat', sans-serif;
	border: 1px solid #008387;
	border-radius: 6px;
	/*color: red; /*#008387*/*/
	font-weight: bold;	
	padding: 1.5rem 0;
	text-align: center;
}



.iconContainer {
	width: 28%;
	/*border: 1px solid red;*/
	display: flex;
	justify-content: flex-end;
}

.index-page-buttons img {	
	justify-self: flex-end;
	height: 1.8rem;	
	/*border:1px solid yellow;*/
}

.index-buttons-text {
	width: 72%;
	height: inherit;
	/*border:1px solid green;*/
	text-align: left;
	color: #008387;
	padding-left: 14px;
	font-weight: 600;
}

/*.btn-small:hover {
    background-color: transparent;
}*/

.btn-small:focus, .btn-floating:focus {
    background-color: #1d7d74;
}
.changeBkgroundBtn {
	background-color: #008387;
	color: red;
	/*border: 1px solid #a3a7ac;*/
}


	

.no-border {
	border: none;
	background-color: ;
}    


@media (hover: none) {
   
}

