.login-header {
  color: #8f9499;
}

.login-text {
  color: #8f9499;
}

.input-text {
  color: #8f9499;
}

.login-button {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}

.text-span {
	/*color: blue;*/
}

#loginForm {
	margin-top: 1rem;
}