.heading-container {
	display: flex;
	flex-direction: row;

	justify-content: left;
	align-items: center;
	margin-top: 1.2rem;
	margin-bottom: 1.2rem;
}

.heading-text {
	color: #9b9fa3/*#91969c*/;
	margin-left:0.7rem;	
	font-size: 1.35rem;
	font-weight: ;
	border-bottom: 1px solid #9b9fa3;

	
}

.heading-icon {
	margin-top: 0.3rem;
	color: #9b9fa3/*#91969c*/;
}

.list-name {
	font-family: 'Montserrat', sans-serif;
	color:#a3a7ac !important;
	font-size: 1.1rem;
}

.list-icons {
	color:#008387;
}

.simcard-list {
  /*list-style: circle !important;*/
  /*background: red;*/
  /*list-style: inside url('../img/simcard.svg')!important;*/
  /*list-style: circle inside url('../img/table_view.svg')!important;*/
  color: #a3a7ac;*/
}
}

.list-item {
	margin-bottom: 20px 0;
	background: red !important;
}

.vendor-name {
	font-family: 'Montserrat', sans-serif;
	color: #008387 /*#a3a7ac*/ !important;
	text-decoration: underline;
	font-size: 1.2rem;
	margin-bottom: 0.9rem ;

}
.simcard-name {
	/*color: #a3a7ac;*/
}

.simcard-number {
	font-style: italic;
}

.simcard-list-icon {
	font-size:1.18rem;
	margin-right: 0.50rem;
	color: #a3a7ac /*#a3a7ac*/ ;

}


