.modal {
    width: 90%; /* Full width */
    max-width: 450px;
    padding: 1px;
    border: 1px solid var(--darker-white);
    background-color: var(--lighter-shade-black);
    
}

.modal-content{      
      margin: 0 auto; /* 15% from the top and centered */
      padding: 1px;  
} 

.modal-close {  
  margin-bottom: 2rem;

}

#modalClose {
  position: absolute;
  top: 0;
  right: 0;
  height: 30px;
  width:15%;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--darker-white);
}

.search-header-container {
  display:flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: 1px solid var(--darker-white);
  padding-bottom: 0.5rem;
  /*margin-top: 1.6rem;*/
}

.search-icon {
  margin-top: 1.1rem;
  margin-right: 0.4rem;
  color: var(--sexy-white)
}

.search-heading { 
  color: var(--sexy-white);
  font-size: 1.2rem;
  margin-top: 1.1rem;
  
}



.day-selector {
  padding: 1rem 0;
  color: var(--twitter-blue);
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
  border-bottom: 1px solid var(--darker-white);
}


.box {
  flex: 1;
  display: flex;
  justify-content: center;
  text-align: center;

}

.box:first-child > span { margin-right: auto; }

.box:last-child  > span { margin-left: auto;  }

#yesterdayLink {
  width: 100%;
  border-right: 1px solid var(--darker-white);
}


.calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.input-field-search-container { 
  margin-top: 1.6rem; 
  display: flex;
  flex-direction: column;
  align-items: center;
  
  
  }


input[type=text]:not(.browser-default), textarea.materialize-textarea {
    text-align: center;  
    background-color: #1c1c1c;
    color: var(--twitter-blue);
    border: 2px solid #8f9499;
    overflow: visible;         
    outline: none;
    height: 1.8rem;
    width: 52%;
    font-size: 14px;    
    padding: 2px;
    margin: 4px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-transition: border .3s, -webkit-box-shadow .3s;
    transition: border .3s, -webkit-box-shadow .3s;
    transition: box-shadow .3s, border .3s;
    transition: box-shadow .3s, border .3s, -webkit-box-shadow .3s;

}



::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #26c6da;
  opacity: 0.8; /* Firefox */
  font-family: 'Montserrat', sans-serif;
  font-size: 0.98rem;
}

input:hover {
  cursor: pointer;
  color: #26a69a;
}

/*.button {
      border-width: 2px;
    border-style: outset;
    border-color: #142433;
    border-image: initial;
}*/
.searchButton {
  width:42%;
  height:2.6rem;
  margin-bottom: 1.4rem;   
  margin-top: 1.9rem;  
  padding: 4px;
  font-family: 'Montserrat', sans-serif;
  text-transform: none;
  color: #d8dbdd;   
  border-radius: 32px;  
  display:flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  float:center;
  
}

h6 a:hover {
  border-bottom: 1px solid #8f9499;

}

