.search-info-text {
  display:flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: 1px solid #8f9499;
  
  /*margin-top: 1.6rem;*/
}

.search-icon {
  margin-top: 1.1rem;
  margin-right: 0.4rem;
  color: #8f9499;
}

.search-heading { 
  color:#9b9fa3;
  font-size: 1.2rem;
  margin-top: 1.1rem;
  
}

.info-text-icon {
  margin-right: 1.2rem;
  color: #8f9499;
}

/*hr {
  margin-top: 2rem;
  color: blue;
}*/

.calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.input-field-search-container { 
  margin-top: 1.6rem; 
  display: flex;
  flex-direction: column;
  align-items: center;
  
  
  }


input[type=text]:not(.browser-default), textarea.materialize-textarea {
    text-align: center;  
    background-color: #1c1c1c;
    color:#5f6368;
    border: 2px solid #8f9499;
    overflow: visible;         
    outline: none;
    height: 1.8rem;
    width: 52%;
    font-size: 14px;    
    padding: 2px;
    margin: 4px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-transition: border .3s, -webkit-box-shadow .3s;
    transition: border .3s, -webkit-box-shadow .3s;
    transition: box-shadow .3s, border .3s;
    transition: box-shadow .3s, border .3s, -webkit-box-shadow .3s;
}



::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #26c6da;
  opacity: 0.8; /* Firefox */
  font-family: 'Montserrat', sans-serif;
  font-size: 0.98rem;
}

input:hover {
  cursor: pointer;
  color: #26a69a;
}

/*.button {
      border-width: 2px;
    border-style: outset;
    border-color: #142433;
    border-image: initial;
}*/
.searchButton {
  width:42%;
  height:2.6rem;
  margin-bottom: 1.4rem;   
  margin-top: 1.9rem;  
  padding: 4px;
  font-family: 'Montserrat', sans-serif;
  text-transform: none;
  color: #d8dbdd;   
  border-radius: 32px;  
  display:flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  float:center;
  
}

h6 a:hover {
  border-bottom: 1px solid #8f9499;

}

.day-selector-text {
  text-align: center;
  color:#a3a7ac;
}
.day-selector {
  margin-top: 1.8rem;
  color:#1DA1F2;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
}

.day-selector h6 {
  border-bottom: 1px solid #1DA1F2;
}

.vl {
  border-left: 1px solid #9b9fa3;
  height: 1.6rem;
  float:center;
  display: flex;
  justify-content: center;
  margin-top: 0.8rem;
  
}



.box {
  flex: 1;
  display: flex;
  justify-content: center;
}

.box:first-child > span { margin-right: auto; }

.box:last-child  > span { margin-left: auto;  }



/*.left {
  margin-right: 100px;
}

.right{
  text-align: left;
}*/

#modalClose {
  border: 1px solid #9b9fa3;
  height: 25px;
  width:15%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FF420E;
}