.main-table {
	opacity: 0;
	display: none;
	transition: opacity 0.6s ease-in;
  width: 100%;
  display: flex;
  flex-direction: column;    

}

/*Table-CSS*/

.loader {
  height: 100vw;
  opacity:0;
  display: flex;
  
  justify-content: center;
  align-items: center;
  
}

.loading-text {
  margin-top: 50%;
  text-align: center;
  letter-spacing: 1px;
  font-size: 1.1rem;
  color: var(--sexy-white);
}

.table-header-text {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  text-align: center;
  
}

.table-header-text i { 
  margin-top:1.4rem;  
  color:#8f9499;  
}

.chevrons {  
  border-radius: 50%;
  -webkit-user-select: none;
}

.chevrons:active {
  background-color: grey;
}

.chevrons:hover {
  cursor: pointer;

}

.error-message {
  margin-top: 1.2rem;
  margin-bottom: 0.6rem;
  color: #5a5e63;
}

tr {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--mild-white);
  /*border-left: 1px solid #f2f2f2;*/
}

td {
  display: flex;
  flex-direction: row;
  

}

th {
  
}

table {    
    float:left;
    clear: left;    
    display: flex;
    flex-direction: row; 
    justify-content:initial;       
}

table.striped>tbody>tr:nth-child(odd) {
    /*background-color: rgba(242,242,242,0.5);*/
    background-color: var(--lighter-shade-black);
}

.table-text {

  margin-top: 1.4rem;
  color:#b7bdbc;  
  font-weight:bold;
  text-align: center;
  font-size:1.15rem;    
}

td, th {
  
  padding: 11px 5px;
}

td {

  white-space:nowrap;
  min-width:10px;
  vertical-align:top;
}

.vendor-cell {  
  color:#26a69a;  
  font-weight:bold;   

}



.table-border {
  margin-top: 0.3rem; 
  border: 1px solid;
  border-color: #8f9499;
  border-collapse: collapse;
  margin-bottom: 0.6rem;
}

#table-column-heading {
 font-weight: bold;

}

